/* General styles for the entire app */
.App {
  text-align: center;
  background: linear-gradient(120deg, #FF6B6B, #6BFF6B);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

/* Header styles */
.App-header {
  background-color: rgba(40, 44, 52, 0.7); /* Semi-transparent background */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Heading styles */
h1 {
  font-size: 3rem;
  color: #333;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Search box styles */
.search-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 10px;
  width: 600px; /* Adjust the width as needed */
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
    text-align: center;
}

.search-box button {
  padding: 10px 20px;
  background-color: #FF6B6B;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.search-box button:hover {
  background-color: #6BFF6B;
  color: #333;
}

/* Link styles */
.App-link {
  color: #FF6B6B;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #6BFF6B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.App-link:hover {
  background-color: #FF6B6B;
  color: white;
}
